<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>156728441334-u2q8rtaejnon9a52771kdg6seodhjo2q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.156728441334-u2q8rtaejnon9a52771kdg6seodhjo2q</string>
	<key>API_KEY</key>
	<string>AIzaSyB0YaAHrSDLiNCUtJFHThgF1b0N7J7Ge3Y</string>
	<key>GCM_SENDER_ID</key>
	<string>156728441334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chatapp-4330f</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-4330f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:156728441334:ios:7811a1ad2b210b016aefd7</string>
</dict>
</plist>